*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 16px;
    justify-items: center;
    color: #555555;
}

img{
    display: block;
    margin: 0px auto;
}

body{
    background-color: #8A51FC;
}

#conversorBox{
    width: 375px;
    height: 712px;
    border-radius: 20px;
    background-color: #f4f4f4;
}

.coinLogo{
    height: 44px;
}

#logoGif{
    width: 300px;
}

button{
    width: 327px;
    height: 48px;
    border-radius: 5px;
    border: 0;
    box-shadow: 0px 4px 4px 0px #00000040;
    color: #ffffff;
    background-color: #772FD3;
}

button:hover{
    opacity: .9;
    cursor: pointer;
}

button:active{
    opacity: .7;
}

label{
    display: block;
    width: 327px;
    justify-self: center;
    margin: 0 auto 24px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

select{
    width: 327px;
    height: 48px;
    justify-self: center;
    border: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: #BBBBBB;
    background-color: #FFFFFF;
}

input{
    width: 327px;
    height: 48px;
    border: 1px;
    border-style: solid;
    border-radius: 4px;
    border-color: #BBBBBB;
    background-color: #FFFFFF;
}

#conversionBox{
    display: block;
    place-self: center;
    justify-content: center;
    margin: 0px auto;
    width: 327px;
    height: 276px;
    bottom: 10px;
    border: 1px;
    border-radius: 20px;
    border-style: solid;
    border-color: #8A51FC;
}
